<html>
	<title>
		{% block title %}
		{{ title }}
		{% endblock %}
	</title>
	<head>
		{% block head %}
		{% endblock %}
		<link rel="stylesheet" type="text/css" href="/static/base.css" />
	</head>
	<body>
		{% block navigation %}
		<div class="menu">
			<ul>
				<li><a href=/>Home</a></li>
				<li><a href={% url faq %}>FAQ</a></li>
				<li><a href={% url browse %}>Browse alive hosts</a></li>
				<li><a href={% url latest %}>Browse latest hosts</a></li>
				<li><a href={% url pyi2phosts.postkey.views.addkey %}>Register a domain</a></li>
			</ul>
		</div>
		{% endblock %}

		<div class="main">
		{% block header %}
		{% endblock %}

		{% block content %}
		{% endblock %}
		</div>

		{% block footer %}
		<hr>
		<div class="footer">
			{% block footer-addon %}
			{% endblock %}
			powered-by: <a href=http://py-i2phosts.i2p/>py-i2phosts</a>
		</div>
		{% endblock %}
	</body>
</html>

