<html>
	<title>
		{% block title %}
		{{ title }}
		{% endblock %}
	</title>
	<head>
		{% block head %}
		{% endblock %}
		<link rel="stylesheet" type="text/css" href="/static/base.css" />
	</head>
	<body>
		<div class="search_host">
			<form action="/search/">
				<input class="input" name="q" maxlength="67" type="text" value="Search host"
				onblur="if (value == '') {value = 'Search host'}" onfocus="if (value == 'Search host')
				{value =''}" />
				<input type="submit" value="Search" />
			</form>
		</div>

		{% block navigation %}
		<div class="menu">
			<ul>
				<li><a href=/>Home</a></li>
				<li><a href={% url faq %}>FAQ</a></li>
				<li><a href={% url browse %}>Browse alive hosts</a></li>
				<li><a href={% url latest %}>Browse latest hosts</a></li>
				<li><a href={% url pyi2phosts.postkey.views.addkey %}>Register a domain</a></li>
			</ul>
		</div>

		<form action="/i18n/setlang/" method="post">
			{% csrf_token %}
			{% for lang in LANGUAGES %}
			<input type="radio" value="{{ lang.0 }}" name="language" />
			<img src="/static/{{ lang.0 }}.png" width="16" height="11" alt="{{ lang.0 }}"/>
			{% endfor %}
			<input type="submit" value="Set" />
		</form>

		{% endblock %}

		<div class="main">
		{% block header %}
		{% endblock %}

		{% block content %}
		{% endblock %}
		</div>

		{% block footer %}
		<hr>
		<div class="footer">
			{% block footer-addon %}
			{% endblock %}
			powered-by: <a href=http://py-i2phosts.i2p/>py-i2phosts</a>
		</div>
		{% endblock %}
	</body>
</html>

