{% extends "base.html" %}

{% block content %}
<h3>How we learning about new hosts</h3>
<ol>
	<li>Pulling from external sources:
	<ul>
		{% for source in sources %}
			<li>{{ source.url }}</li>
		{% endfor %}
	</ul>
	</li>
	<li>Adding through our service.
	</li>
</ol>

<h3>Publish requirements</h3>
To get published a host must meet the following criteria:
<ul>
	<li>Must have been added at least 3 days ago</li>
	<li>Must be up</li>
	<li>Must be approved by admin</li>
</ul>
<p style="notice">Admin's approval isn't really necessary, it is only needed in
order to eliminate possible hijacking and mass registration attempts.
</p>

<h3>Expiration</h3>
<p>
Hosts gets checked for availability every 12 hours. If the host is alive, registration period
prolongated 1 month. Until this period ends, hosts are published in our hosts.txt.
</p>
<p>
When a host has expired, its name/key pair will be keept for 2 years but will not be
published any longer. Until this period ends, it's impossible to register this hostname
again.
</p>

<h3>Deletion of expired hosts</h3>
<p>
Hosts expired 2 years ago get completely deleted from our database and become
available for a new registration.
</p>

<h3>Deletion of dead hosts</h3>
<p>
If a host was added from an external source and we've never seen it alive, it
will be deleted after 1 year since its adding date, and after 14 days if it is
was added through our registration service. Since these hosts were not published
through our service, we only grant them such a short grace period.
</p>
{% endblock %}
