{% load i18n %}

<h2>{% trans "Domain name registration policy" %}</h2>
<ul>
	<li>{% trans "Domain name registration is free." %}</li>
	<li>{% trans "Anyone can register a domain name." %}</li>
	<li>{% trans "Domain names are available on a 'first come, first serve' basis." %}</li>
	<li>{% trans "A domain name's destination must be active." %}
	{% trans "Inactive destinations cannot be published." %}</lI>
	<li>{% trans "Domain name hoarding through mass registration (cybersquatting) is not allowed." %}</li>
	<li>{% trans "Domain name registrations will not be rejected based on content." %}</li>
	<li>{% trans "Domain name registrations will stop propagating after some period of inactivity." %}</li>
	<li>{% trans "Temporary or test sites should not be registered. Use b32 address instead." %}</li>
	<li>{% trans "Changing key for existing domains is prohibited." %}</li>
</ul>
