<h2>Domain name registration policy</h2>
<ul>
	<li>Domain name registration is free.</li>
	<li>Anyone can register a domain name.</li>
	<li>Domain names are available on a "first come, first serve" basis.</li>
	<li>A domain name's destination must be active.
	Inactive destinations cannot be published.</lI>
	<li>Domain name hoarding through mass registration (cybersquatting) is not allowed.</li>
	<li>Domain name registrations will not be rejected based on content.</li>
	<li>Domain name registrations will stop propagating after some period of inactivity.</li>
	<li>Temporary or test sites should not be registered. Use b32 address instead.</li>
	<li>Changing key for existing domains is prohibited.</li>
</ul>
